@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.clipPath {
  background: linear-gradient(
    75deg,
    #feddee 0%,
    #fcf6fc 31.77%,
    #c5eaed 64.58%,
    #fdddfe 100%
  );
  clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
 
}
